/* Elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  background-color: var(--color-peachy);
}

main {
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: white;
}

ul {
  padding: 2rem 5rem;
}

footer {
  display: none;
  text-align: right;
}
button {
  margin: 5% 3%;
}

@media (min-width: 768px) {

  section {
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.5;
  }

  h2 {
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: 750;
    line-height: 1.5;
  }

  h3 {
    font-weight: 600;
  }
  footer {
    display: flex;
  }
}

footer p {
  width: 100%;
  padding: 2% 5%;
}

/* Color Variables */

:root {
  --color-green: #8D8741; 
  --color-skyblue: #659DBD;
  --color-peachy: #daad86;
  --color-brown: #bc986a;
  --color-yellow: #fbeec1;
}
