/* Elements */

body {
  font-family: "Montserrat";
}

main {
  display: grid;
  place-items: center;
}

section {
  width: 100%;
  margin: 0px;
}

img {
  width: 70%;
}

button {
  margin: 5% 3%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: 750;
  line-height: 1.5;
}

h3 {
  font-weight: 600;
}

/* Nav Bar */

#navbar {
  background-color: var(--bgcolor2);
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem;
  transition: top 500ms ease-in-out;
  z-index: 1;
}

#current-page {
  color: black;
}

nav.scroll-up {
  top: 0;
}

nav.scroll-down {
  top: -100%;
}

nav.scroll-up,
nav:focus-within {
  /* ensure nav is visible when in focus */
  top: 0;
}

.nav-links {
  display: flex;
  align-items: center;
}

nav a {
  padding: 5px;
}

.brand {
  /* font-family: 'Ubuntu'; */
  font-size: 2.5rem;
  font-weight: bold;
}

/* Footer */

footer {
  text-align: right;
}

#footer {
  background-color: var(--bgcolor2);
}

footer p {
  width: 100%;
  margin: 0px;
  padding: 2% 5%;
}

/* Elements */

:root {
  --bgcolor1: #82cd47; /*light*/
  --bgcolor2: #54b435; /*dark*/
}
section:nth-child(odd) {
  background-color: var(--bgcolor1);
}
section:nth-child(even) {
  background-color: var(--bgcolor2);
}

* {
  box-sizing: border-box;
}
